<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Profile</title>
</head>

<body>
	<section><div class="container">
	<img class="profile_picture center" style="height: 200px;width: 200px;"
				th:src="@{'/image/'+${user.imgUrl}}">
				<h1 class="text-center" th:text="${user.name}" style="text-transform: uppercase;"></h1>
				</div>
	<table class="table table-striped table-success">
				<thead>

				</thead>
				<tbody class="text-center">
					<tr>
						<th scope="col">#USER_ID</th>
						<th scope="col" th:text="${user.id}"></th>

					</tr>

					
					<tr>
						<th scope="col">EMAIL</th>
						<th scope="col" th:text="${user.email}"></th>

					</tr>
					<tr>
						<th scope="col">ROLE</th>
						<th scope="col" th:text="${user.role}"></th>

					</tr>
					<tr>
						<th scope="col">USER_ACTIVATION</th>
						<th scope="col" th:text="${user.enabled}"></th>

					</tr>
					<tr>
						<th scope="col">about</th>
						<th scope="col" th:text="${user.about}"></th>

					</tr>



					</tbodycl>
			</table>
			<script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#profile-link").addClass("active");

			})
		</script>
	</section>

</body>

</html>