<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Update_form</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />

	<script th:src="@{/js/script.js}"></script>
</head>
<body>
<section>
<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-lg-12 col-xl-11">
					<div class="card text-black" style="border-radius: 25px;">
						<div class="card-body p-md-5">
							<div th:if="${session.message}" class="container">
								<div th:classappend="${'alert-'+session.message.type}" class="alert alert-success"
									role="alert">

									<span th:text="${session.message.content}"></span>
								</div>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>
							<div class="row justify-content-center">
								<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

									<p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-1">Update Contact</p>

									<form th:action="@{/user/process-update}" th:object="${contact}"
										enctype="multipart/form-data" class="mt-2" method="post">
										<input type="hidden" th:value="${contact.cid}" name="cid"/>			
										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-user fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="text" th:value="${contact.name}" required id="firstname" name="name"
													class="form-control" />
												<label class="form-label" for="form3Example1c">Your FirstName</label>
											</div>
										</div>
										<!--secondname-->
										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-user fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="text" th:value="${contact.secondName}"  required id="secondname" name="secondName"
													class="form-control" />
												<label class="form-label" for="form3Example1c">Your SecondName</label>
											</div>
										</div>

										<!--phone-->
										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-phone fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="number" th:value="${contact.phone}" required id="phone" name="phone"
													class="form-control" />
												<label class="form-label" for="form3Example1c">Phone Number</label>
											</div>
										</div>

										<!--email-->
										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="email" th:value="${contact.email}" required id="email" name="email"
													class="form-control" />
												<label class="form-label" for="form3Example3c">Your Email</label>
											</div>
										</div>

										
										<!--work-->
										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-briefcase fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="text" th:value="${contact.work}" required id="work" name="work"
													class="form-control" />
												<label class="form-label" for="form3Example1c">Work</label>
											</div>
										</div>

										<!--description-->

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-info fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="text" th:value="${contact.description}" id="textarea" required name="description"
													class="form-control" />
												<label class="form-label" for="form3Example1c">Description</label>
											</div>
										</div>

										<div class="container text-center">
										<img class="img-fluid profile_picture" style="width: 100px;height: 100px;margin: 15px;"  th:src="@{'/image/'+${contact.img}}"/>
										</div>					
										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-file fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="file"  th:value="${contact.img}"  name="profileImage" id="img"
													class="form-control" />
												<label class="form-label" for="form3Example1c">New Image File otherwise remain empty</label>
											</div>
										</div>


										<div class="form-check d-flex justify-content-center mb-5">
											<input class="form-check-input me-2" type="checkbox" value=""
												id="form2Example3c" />
											<label class="form-check-label" for="form2Example3">
												I agree all statements in <a href="#!">Terms of service</a>
											</label>
										</div>

										<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
											<button type="submit" class="btn btn-primary text-white">SUBMIT</button>
										</div>

									</form>

								</div>
								<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

									<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
										class="img-fluid" alt="Sample image">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

</body>
</html>