<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<body>
<section class="banner d-flex justify-content-center align-items-center">

<div class="text-center"><h1 class="font-weight-bold">SMART CONTACT MANAGER</h1>
<p>START COLLECTING YOUR CONTACTS IN VERY SMARTER WAY. WE PROVIDE VERY EFFICIENT AND SMARTER WAY OF HANDLING CONTACTS</p></div>
<!--<button class="btn btn-primary">GET STARTED</button>-->
</section>
</body>
</html>