<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Password Changed Form</title>
</head>

<body>
	<section class="gradient-custom">
		<div class="container py-5 h-100">
			<form class="form-signin" method="post" th:action="@{/change-password}">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-8 col-lg-6 col-xl-5">
						<div class="card bg-dark text-white" style="border-radius: 1rem;">
							<div class="card-body p-5 text-center">

								<div class="mb-md-5 mt-md-4 pb-5">
								<div th:if="${session.message}" class="container">
								<div class="alert alert-danger"
									role="alert">

									<span th:text="${session.message}"></span>
								</div>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>
																<h1>New Password</h1>
									<!--<p class="text-white-50 mb-5">Please enter your login and password!</p>-->

									<!--<div th:if="${param.error}" class="alert alert-danger">
								Invalid username and password
								</div>
								
								<div th:if="${param.logout}" class="alert alert-danger">
									you have been logged
								</div>-->

									<div class="form-outline form-white mb-4">


									</div>
									<input type="text" id="username" name="newpassword" class="form-control"
										placeholder="Enter New Password"  required autofocus>




									<button class="btn btn-outline-light btn-lg px-5 mt-4" type="submit">Submit</button>

									<div class="d-flex justify-content-center text-center mt-4 pt-1">
										<a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
										<a href="#!" class="text-white"><i
												class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
										<a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
									</div>

								</div>

								<div>
									<p class="mb-0">Don't have an account? <a href="/signup"
											class="text-white-50 fw-bold">Sign Up</a>
									</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>

</body>

</html>